a{text-decoration:none;cursor:pointer;}
a:hover{text-decoration:none;}
.btn-secondary{background-color:#F6861F;border-color:#F6861F;}
.btn-secondary:hover{color:#fff;background-color:#F5750F;border-color:#F5750F;}

#login .container{padding-top:200px;}
#login .container .card{width:60%;margin:0 auto;}
#login .container .card-body{width:100%;margin:0 auto;}
#login .container .row{display:flex;justify-content:center;}
#login .container .row .col-lg-6{max-width:100%;flex:0 0 80%;}

#msg th{text-align:center;}
#msg td{text-align:center;vertical-align:middle;}
#msg .th_blank{border-left:0px;}
#msg .cont_name{width:160px;}
#msg .cont_type{width:100px;}
#msg .cont_date{width:200px;}
#msg .cont_msg a{}
#msg .cont_btn{border-left:0px;width:100px;}
#msg .th_blank_r{border-right:0px;}
#msg .line_block{width:100%;display:flex;justify-content:space-between;}
#msg .line_block .search_left{display:flex;width:60%;}
#msg .line_block .search_right{display:flex;width:10%;justify-content:flex-end;}
#msg .selt{width:18%;margin-right:1%;}
#msg .input_t{width:30%;margin-right:1%;}
#msg .subbtn{width:8%;}
#msg .sel{width:80%;}
#msg .msg_reply{position:absolute;top:12%;left:26%;display:block;width:54%;height:70%;background:#fff;z-index:5;display:none;}
#msg .msg_reply .reply_cont{border:2px solid;width:100%;height:100%;border-radius:10px;display:flex;justify-content:space-between;}
#msg .rep_left{width:49%;height:100%;border-right:2px solid;}
#msg .rep_left .left_head{display:flex;height:60px;justify-content:pace-between;align-items:center;border-bottom:2px solid;}
#msg .rep_left .read_sel{width:40%;height:100%;text-align:left;border:0;outline:0;box-shadow:none;font-size:16px;}
#msg .rep_left .left_head .rep_stxt{border:0px;width:170px;height:100%;outline:none;text-align:right;font-size:15px;color:#858585;margin-left:16%;margin-right:1%;  padding-right:10px;}
#msg .rep_left .left_head .btni{font-size:33px;margin-right:1%;cursor:pointer;}
#msg .rep_left .left_cont .cont_block{padding:14px;height:100%;border-bottom:1px solid;display:flex;justify-content:flex-start;background:#F8F8F8;cursor:pointer;}
#msg .rep_left .left_cont .cont_block:hover{background:#FBEFF5;}
#msg .rep_left .left_cont .cont_block .p_img img{width:80px;border:1px solid;border-radius:50px;}
#msg .rep_left .left_cont .cont_block .text{margin-left:4%;width:100%;padding:5px;}
#msg .rep_left .left_cont .cont_block .text table{width:100%;}
#msg .rep_left .left_cont .cont_block .text td{vertical-align:middle;}
#msg .rep_left .left_cont .cont_block .text .td_name{width:25%;font-size:15px;text-align:left;}
#msg .rep_left .left_cont .cont_block .text .td_read{width:25%;font-size:13px;text-align:left;font-weight:bolder;color:#F6861F;padding-top:2px;}
#msg .rep_left .left_cont .cont_block .text .td_date{font-size:12px;text-align:right;}
#msg .rep_left .left_cont .cont_block .text .td_msg{font-size:13px;text-align:left;word-break:break-all;padding-top:5px;}
#msg .rep_right{width:51%;height:100%;}
#msg .rep_right .right_head{width:100%;height:59px;padding-right:10px;border-bottom:2px solid;display:flex;justify-content:flex-end;align-items:center;}
#msg .rep_right .right_head .btni{font-size:40px;margin-right:2%;cursor:pointer;}
#msg .rep_right .right_cont{width:100%;display:flex;flex-direction:column;align-items:center;}
#msg .rep_right .right_cont .right_top{display:flex;justify-content:center;flex-direction:column;padding:20px;width:90%;}
#msg .rep_right .right_cont .text_bolder{font-weight:bold;margin-bottom:1%;}
#msg .rep_right .right_cont .right_top .sender{width:60%;border:0;outline:none;color:#0B614B;font-size:19px;font-weight:bold;}
#msg .rep_right .right_cont .right_top .msg_cont{border:2px solid #ccc;border-radius:5px;height:160px;padding-top:10px;padding-left:10px;padding-bottom:10px;font-size:13px;}
#msg .rep_right .right_cont .right_top .msg_cont .msg{width:100%;height:130px;word-break:break-all;resize:none;border:0; outline:none;overflow:hidde;}
#msg .rep_right .right_cont .right_bottom{width:90%;height:200px;margin-top:3%;padding:20px;}
#msg .rep_right .right_cont .right_bottom .rep_cont{border:2px solid #ccc;border-radius:5px;height:95%;}
#msg .rep_right .right_cont .right_bottom .rep_cont .input_rep{width:100%;resize:none;height:100%;border:0;outline:none;padding:10px;font-size:13px;}
#msg .rep_right .submit_btn{width:90%;margin:0 auto;padding:10px;display:flex;justify-content:center;margin-top:15px;}
#msg .rep_right .submit_btn input{width:80px;}


#msg_send .line_block{width:100%;}
#msg_send .line_block .search_top{display:flex;width:60%;}
#msg_send .line_block .search_top .sel{width:15%;margin-right:1%;}
#msg_send .input_t{width:40%;margin-right:1%;}
#msg_send .subbtn{width:8%;}
#msg_send .sel{width:80%;}
#msg_send th{text-align:center;height:20px;padding:7px;background:#EFFBF8;}
#msg_send td{text-align:center;vertical-align:middle;height:60px;}
#msg_send .search_cont{width:100%;display:flex;}
#msg_send .search_cont .table_box{width:48%;margin-top:1%;}
#msg_send .cont_name{width:150px;}
#msg_send .cont_type{width:150px;}
#msg_send .cont_country{width:150px;}
#msg_send .cont_btn{text-align:right;border:0;padding-top:30px;padding-right:0px;}
#msg_send .cont_btn input{width:150px;}
#msg_send .th_blank_r{border-right:0px;}
#msg_send .rep_right{width:40%;height:100%;margin-left:3%;}
#msg_send .rep_right .right_cont{width:100%;display:flex;flex-direction:column;align-items:center;}
#msg_send .rep_right .right_cont .right_top{display:flex;justify-content:center;flex-direction:column;padding: 0 10px 10px 10px;width:90%;}
#msg_send .rep_right .right_cont .text_bolder{font-weight:bold;margin-bottom:1%;}
#msg_send .rep_right .right_cont .right_top .sender{width:30%;border:0;outline:none;color:#858585;font-size:19px;}
#msg_send .rep_right .right_cont .right_top .msg_cont{border:2px solid #ccc;border-radius:5px;height:160px;padding-top:10px;padding-left:10px;padding-bottom:10px;font-size:13px;}
#msg_send .rep_right .right_cont .right_top .msg_cont .msg{width:100%;height:130px;word-break:break-all;resize:none;border:0; outline:none;overflow:hidde;}
#msg_send .rep_right .submit_btn{width:100%;padding:0px;display:flex;justify-content:center;margin-top:15px;}
#msg_send .rep_right .submit_btn input{width:100%;}
#msg_send #target_name{border:0px;outline:none;margin-left:3%;font-size:20px;color:#0B6138;font-weight:bold;}


#news .table_box{width:80%;margin:0 auto;}
#news th{text-align:center;height:20px;padding:7px;background:#EFFBF8;}
#news td{text-align:center;vertical-align:middle;height:60px;}
#news .cont_no{width:3%;}
#news .cont_title{width:20%;}
#news .cont_content{width:30%;}
#news .cont_date{width:8%;}
#news .cont_btn{width:8%;padding:0;}
#news .write_box{width:100%;margin-bottom:10px;text-align:right;}
#news .write_box .write_btn{width:150px;}


#news_we .title_input{width:80%;border:1px solid #ccc;;margin-bottom:20px;height:40px;padding-left:10px;}
#news_we .table_box{width:80%;}
#news_we .nse_content{width:80.8%; height:400px;}
#news_we .submit_btn{width:80%;}
#news_we .posting_btn{width:80px;height:40px;margin-top:5px;float:right;}
#news_we .list_btn{width:80px;height:40px;margin-bottom:5px;float:right;}


#item .item_cont{}
#item .write_box{text-align:right;margin-bottom:1%;}
#item .write_box .write_btn{width:14%;}
#item .table_box{width:80%;margin:0 auto;}
#item th{text-align:center;height:20px;padding:7px;background:#EFFBF8;}
#item td{text-align:center;vertical-align:middle;height:60px;}
#item .cont_no{width:3%;}
#item .cont_name{width:30%;}
#item .cont_weigth{width:4%;}
#item .cont_dnum{width:15%;}
#item .cont_img{width:15%;}
#item .cont_date{width:12%}
#item .cont_btn{width:14%;}


#item_we .line_block{width:100%;height:50px;display:flex;align-items:flex-end;padding:0 0 5px 0;}
#item_we .line_block .item_title1{height:30px;width:47%;font-weight:700;margin-left:2%;display:flex;align-items:flex-end;}
#item_we .line_block p{margin-bottom:0;}
#item_we .line_block .item_title2{height:30px;width:41%;font-weight:700;margin-left:0%;display:flex;align-items:flex-end;}
#item_we .line_block .list_btn{width:80px;height:40px;}
#item_we .item_cont{width:100%;text-align:center;display:flex;;}
#item_we .table_box{width:47%;margin-right:2%;}
#item_we .table_box table{border:0;}
#item_we .table_box .td_head{width:20%;vertical-align:middle;font-weight:bold;}
#item_we .table_box .td_cont input{width:100%;font-size:13px;}
#item_we .table_box .submit_btn{border:0;text-align:right;padding-top:10px;padding-right:0;}
#item_we .table_box .submit_btn button{width:100px;}
#item_we .photo_box{width:100%;}
#item_we .photo_box {position:relative;height:200px;border-radius:5px;}
#item_we .photo_box div{position:relative;height:15vh;border-radius:5px;}
#item_we .photo_box .file_custom1 {height:100%;}
#item_we .photo_box .file_custom1 label {background-color:rgba(0, 0, 0, 0.6);font-size:13px;color:#fff;padding:6px 5px;border-radius:50px;text-align:center;position:absolute;bottom:0%;right:3%;}
#item_we .photo_box .file_custom1 label:before{content:"";}
#item_we .photo_box .file_custom1 input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
#item_we .table_box_l{width:47%;}
#item_we .table_box_l .td_head{width:12%;vertical-align:middle;font-weight:bold;}
#item_we .table_box_l .name{width:50%;}
#item_we .table_box_l .td_cont input{width:100%;font-size:13px;}
#item_we .table_box_l .submit_btn{border:0;text-align:right;padding-top:10px;padding-right:0;}
#item_we .table_box_l .submit_btn button{width:100px;}
#item_we .view_pic{width:100%;display:flex;margin-top:20px;justify-content:space-between;}
#item_we .view_pic .pic{width:30%}
#item_we .view_pic img{width:100%;object-fit:contain;border:1px solid;}


#rfq .table_box{width:80%;margin:0 auto;}
#rfq th{text-align:center;height:20px;padding:7px;background:#EFFBF8;}
#rfq td{text-align:center;vertical-align:middle;height:60px;}






.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{color:#23527c;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:2;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7}.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}
